.create-twoot-panel{
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    textarea{
        border: 1px solid #DFE3E8;
        border-radius: 5px;
    }
    .create-twoot-panel__submit{
        display: flex;
        justify-content: space-between;

        .create-twoot-type{
            padding: 10px 0;
        }

        button{
            padding: 5px 20px;
            margin: auto 0;
            border-radius: 5px;
            border: none;
            color: white;
            background-color: deeppink;
            font-weight: bold;
        }
    }
    &.--exceeded{
        color: red;
        border-color: red;

        .create-twoot-panel__submit{
            button{
                background-color: red;
                color: white;
            }
        }
    }
}